body {
  text-align: center;
  background-color: #ecfdfd;
}

section#selection {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  max-width: 590px !important;
  max-height: 698px;
}

h1 {
  color: #1a5165;
}

h2 {
  font-style: italic;
  color: #5288ac;
}

h2 a {
  color: #5288ac;
}

select {
  width: 125px;
  background-color: #7fb0b2;
  border-color: #fff;
}

div#bingo-card {
  margin-top: 25;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

div#download-btn {
  margin-top: 25px;
  margin-left: 43.5%;

  height: 50px;
  width: 250px;
  background-color: #2e556e;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

a#download {
  font-size: 20px;
  text-decoration: none;
  color: white;
}